<div ng-include="'menu/sidebar-menu.html'"></div>
<div ng-include="'game/gameDetailModal.html'"></div>
<div ng-include="'quests/questModal.html'"></div>
<div ng-if="!authenticated" ng-include="'user/login.html'"></div>
<div ng-if="authenticated" ng-include="'user/profile.html'"></div>

<!--Core UI for map handling-->

<main class="fullscreen map">
    <leaflet width="100%" height="100%" defaults="defaults" controls="controls"
             lf-center="ostrava" markers="markers">
    </leaflet>
</main>

