<div ng-controller="GameCtrl" class="modal fade" id="game-modal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="gamemodal-container modal-content">
            <div ng-show="!newWorld" ng-hide="newWorld">
                <h1>World</h1><br>

            </div>
            <div ng-show="newWorld" ng-hide="!newWorld">
                <h1>Create new world</h1><br>
            </div>
            <form name="gameDetailForm">
                <span ng-show="model.game.name != null || newWorld">
                    <label>World name:</label>
                    <input class="form-control" type="text" placeholder="Name" required id="nameReg" name="nameReg"
                           ng-model="model.game.name">

                    <label>Brief description:</label>
                    <input class="form-control" type="text" placeholder="Description" required id="descriptionReg"
                           name="descriptionReg" ng-model="model.game.description">

                    <label>Restrict object rendering:</label></br>
                    <label class="switch">
                        <input type="checkbox" data-toggle="collapse" href="#renderDistance">
                        <span class="slider round"></span>
                    </label>
                    <div class="collapse" id="renderDistance">
                        <label>Distance of rendering objects around player (in meters):</label>
                        <input id="visibleRangeInput" class="form-control" type="number" placeholder="Radius"
                               ng-model="model.game.visibleRange">
                    </div>
                    </br>
                    <!--<label>Set password for joining the game:</label></br>-->
                    <!--<label class="switch">-->
                    <!--<input type="checkbox" data-toggle="collapse" href="#gamePassword">-->
                    <!--<span class="slider round"></span>-->
                    <!--</label>-->
                    <!--<div class="collapse" id="gamePassword">-->
                    <!--<label>Access password:</label>-->
                    <!--<input id="passwordInput" class="form-control" type="text" placeholder="Access Password"-->
                    <!--ng-model="model.game.password">-->
                    <!--</div>-->
                    </br>
                    <button class="btn btn-info" type="button" name="create" ng-click="saveNewGame()"
                            ng-show="newWorld" ng-hide="!newWorld" ng-disabled="gameDetailForm.$invalid"
                            class="login gamemodal-submit" data-dismiss="modal">Save
                    </button>
                    <button class="btn btn-danger" type="button" name="create" ng-click="discardNewGame()"
                            ng-show="newWorld" ng-hide="!newWorld"
                            class="login gamemodal-submit" data-dismiss="modal">Discard
                    </button>

                    <button class="btn btn-info" type="button" name="create" ng-click="updateGame()"
                            ng-show="!newWorld" ng-hide="newWorld" ng-disabled="gameDetailForm.$invalid"
                            class="login gamemodal-submit" data-dismiss="modal">Edit
                    </button>
                    <button class="btn btn-danger" type="button" name="create" ng-click="deleteGame()"
                            ng-show="!newWorld" ng-hide="newWorld"
                            class="login gamemodal-submit" data-dismiss="modal">Delete
                    </button>
                </span>

                <span ng-show="model.game.name == null && !newWorld" ng-hide="model.game.name != null || newWorld">
                    <label>Hello! Select a game from left menu or create a new one.</label>
                </span>

                <button class="btn btn-info pull-right" type="button" name="create" ng-click="newGame()"
                        ng-show="!newWorld" ng-hide="newWorld"
                        class="login"> + Create new game
                </button>

            </form>
        </div>
    </div>
</div>