@import url(http://fonts.googleapis.com/css?family=Roboto);

/****** GAME MODAL ******/
.gamemodal-container {
    padding: 30px;
    max-width: 500px;
    width: 100% !important;
    background-color: #F7F7F7;
    margin: 0 auto;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    font-family: roboto;
}

.tab-content {
    padding: 10px;
}

.game-detail {
    padding: 10px;
}

.gamemodal-container h1 {
    text-align: center;
    font-size: 1.8em;
    font-family: roboto;
}

.gamemodal-container .gamemodal-item {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    position: relative;
}

.gamemodal {
    text-align: center;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    height: 36px;
    padding: 0 8px;
}