<table class="table">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Answer</th>
        <th scope="col">Reward</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>

    <tbody>
    <tr ng-repeat="item in getCurrentObjectQuests()" ng-model="model.currentQuest">
        <td>{{item.name}}</td>
        <td>{{item.description}}</td>
        <td>{{item.answer}}</td>
        <td style ="word-break:break-all;">{{item.reward}}</td>
        <td>
            <div class="btn-group">
                <!--<button class="fa fa-pencil"></button>-->
                <button ng-click="removeQuest(item)" class="fa fa-trash"></button>
            </div>
        </td>
    </tr>
    <tbody>
</table>