<div ng-controller="QuestsCtrl as c" class="modal fade" id="quest-editor-modal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="questmodal-container modal-content">
            <form name="newQuestForm">
                <h1>Quests</h1><br>
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active " id="nav-active-tab" data-toggle="tab"
                           data-target="#nav-active"
                           role="tab" aria-controls="nav-active" aria-selected="true" ng-click="loadQuestsByIds()">Active</a>
                        <a class="nav-item nav-link" id="nav-new-tab" data-toggle="tab" data-target="#nav-new"
                           role="tab" aria-controls="nav-new" aria-selected="true" ng-click="setNew(true)">Create
                            new</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">

                    <!--Active-->
                    <div class="tab-pane fade active show" id="nav-active" role="tabpanel"
                         aria-labelledby="nav-active-tab">
                        <div ng-include="'quests/activeQuests.html'"></div>
                    </div>

                    <!--Create new-->
                    <div class="tab-pane fade" id="nav-new" role="tabpanel" aria-labelledby="nav-new-tab">
                        <div ng-include="'quests/componentsHtml/questTypeSelection.html'"></div>
                        <div ng-include="'quests/componentsHtml/questSelection.html'"></div>
                        <div ng-if="isQuestTypeRiddle && new" ng-include="'quests/riddle/riddleDetail.html'"></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>