@import url(http://fonts.googleapis.com/css?family=Roboto);

/****** GAME MODAL ******/
.questmodal-container {
    padding: 30px;
    max-width: 600px;
    width: 100%;
    background-color: #F7F7F7;
    margin: 0 auto;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    font-family: roboto;
}

.tab-content {
    padding: 10px;
}

.quest-detail {
    padding: 10px;
}

.questmodal-container h1 {
    text-align: center;
    font-size: 1.8em;
    font-family: roboto;
}

.questmodal-container .questmodal-item {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    position: relative;
}

.questmodal {
    text-align: center;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    height: 36px;
    padding: 0 8px;
}

@media (min-width: 400px) {
    .questmodal-container{
        min-width: 140% !important;
    }
}