<div ng-controller="LoginCtrl" class="modal fade" id="login-modal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="loginmodal-container modal-content">
            <div ng-show="!registration" ng-hide="registration">
                <h1>Login to Your Account</h1><br>
                <form name="loginForm">
                    <label>Username:</label>
                    <input class="form-control" type="text" placeholder="Username" required id="username"
                           name="username"
                           ng-model="model.credentials.username">
                    <label>Password:</label>
                    <input class="form-control" type="password" placeholder="Password" required id="password"
                           name="password"
                           ng-model="model.credentials.password">
                    <br>
                    <div class="row">
                        <div class="col-sm-12">
                            <div>
                                <button type="button" class="btn btn-info btn-block" name="login"
                                        ng-disabled="loginForm.$invalid"
                                        ng-click="login()" data-dismiss="modal">Login
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="text-center login-help">
                        <a href="" ng-click="registration = true">Registration</a>
                    </div>
                </form>


            </div>
            <div ng-show="registration" ng-hide="!registration">
                <h1>Registration</h1><br>
                <form name="registrationForm">
                    <label>Username:</label>
                    <input class="form-control" type="text" placeholder="Username" required id="usernameReg"
                           name="usernameReg"
                           ng-model="model.credentials.username">
                    <label>Password:</label>
                    <input class="form-control" type="password" placeholder="Password" required id="passwordReg"
                           name="passwordReg"
                           ng-model="model.credentials.password">
                    <label>Email:</label>
                    <input class="form-control" type="text" placeholder="Email" required id="emailReg" name="emailReg"
                           ng-model="model.credentials.email">
                    <br>
                    <div class="row">
                        <div class="col-sm-12">
                            <div>
                                <button type="button" class="btn btn-info btn-block" name="register"
                                        ng-click="register()"
                                        class="login loginmodal-submit"
                                        data-dismiss="modal" ng-disabled="registrationForm.$invalid">Register
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="text-center login-help">
                        <a href="" ng-click="registration = false">Login</a>
                    </div>


                </form>


            </div>
        </div>
    </div>
</div>