<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
     style="display: none;">
    <div class="modal-dialog">
        <div class="loginmodal-container modal-content">
            <h1>Your Profile</h1><br>
            <form name="yourProfile">
                <label>Username:</label>
                <input class="form-control" type="text" name="user" placeholder="Username" ng-disabled="true"
                       ng-model="user.username">
                <label>First name:</label>
                <input class="form-control" type="text" name="user" placeholder="Username" ng-disabled="true"
                       ng-model="user.firstName">
                <label>Last name:</label>
                <input class="form-control" type="text" name="user" placeholder="Username" ng-disabled="true"
                       ng-model="user.lastName">
                <br>
                <h3>Roles:</h3>
                <ng-repeat ng-repeat="item in user.authorities" ng-model="user.authority">
                    <p>{{item}}<br></p>
                </ng-repeat>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="text-center">
                            <button type="button" class="btn btn-info btn-block"
                                    ng-click="logout()" data-dismiss="modal">Log out
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>