<div ng-controller="MenuPopupController">
    <div ng-show="menuVisible">
        <button ng-click="addNewGameObject()">Add object</button>
    </div>
    <div ng-if="showNewObjectForm" ng-include="'mapEditor/actionMenu/gameObjects/gameObject.html'"></div>
</div>