<label class="questmodal-item">Object to show visible:</label>
<select class="form-control text-white bg-secondary"
        ng-options="object.id as object.name for object in model.currentGameObjects | filter:{hidden:true}"
        ng-model="model.currentQuest.reward.gameObjectId"></select>