<div>
    <label class="questmodal-item">RewardType:</label>
    <select class="form-control text-white bg-secondary"
            ng-options="reward for reward in model.allRewardTypes"
            ng-model="model.currentQuest.reward.rewardType" ng-init="setInitRewardType()"></select>

    <div ng-if="model.currentQuest.reward.rewardType == 'UNCOVER'"
         ng-include="'quests/reward/rewardTypes/uncoverDetail.html'"></div>
</div>