<div class="game-object-detail">
    <form name="gameObjectForm">
    <br>
    <div class="form-group">
        <label for="gameObjName">Name:</label></br>
        <input class="form-control form-control-sm" type="text" ng-model="model.currentGameObject.name"
               placeholder="Object name" id="gameObjName" required>
    </div>
    <div class="form-group">
        <label for="gameObjDesc">Description:</label></br>
        <textarea class="form-control" type="text" ng-model="model.currentGameObject.description"
                  placeholder="Object description"
                  id="gameObjDesc" required></textarea>
        <!--<input type="button" ng-click="chooseIcon = !chooseIcon" value="Choose Icon">-->
        <!--<div ng-if="chooseIcon" ng-include="'mapEditor/actionMenu/icon-choose.html'"></div>-->
    </div>

    <label>Hidden:</label></br>
    <label class="form-check-label switch">
        <input class="form-check-input" type="checkbox" ng-checked="model.currentGameObject.hidden"
               ng-model="model.currentGameObject.hidden">
        <span class="slider round"></span>
    </label>

    <label>Allowed area around object for interaction (in meters):</label>
    <input class="form-control" type="number" placeholder="Radius"
           ng-model="model.currentGameObject.accessibleRadius">


    <br>
    <div class="form-group">

        <button type="button" class="btn btn-outline-dark" id="toggle-quest-modal" data-toggle="modal"
                data-target="#quest-editor-modal"
                ng-click="loadQuestsByIds()">
            Quests ({{model.currentGameObject.quests.length}})
        </button>

        <!--<input type="button" ng-click="chooseIcon = !chooseIcon" value="Choose Icon">-->
        <!--<div ng-if="chooseIcon" ng-include="'quests/questsCtrl.js'"></div>-->
    </div>

    <div class="form-group">
        <button type="button" class="btn btn-info" ng-click="saveNewGameObject()"
                ng-disabled="gameObjectForm.$invalid"
                ng-show="model.currentGameObject.id == 'new'">Save
        </button>
        <button type="button" class="btn btn-danger" ng-click="deleteGameObject()"
                ng-show="model.currentGameObject.id == 'new'">Remove
        </button>
        <button type="button" class="btn btn-info" ng-click="updateGameObject()"
                ng-disabled="gameObjectForm.$invalid"
                ng-show="model.currentGameObject.id != 'new'">Edit
        </button>
        <button type="button" class="btn btn-danger" ng-click="deleteGameObject()"
                ng-show="model.currentGameObject.id != 'new'">Delete
        </button>
    </div>
    </form>
</div>

