<div class="quest-detail">
    <br>
    <div class="form-group">
        <label>Name:</label></br>
        <input class="form-control" type="text" ng-model="model.currentQuest.name"
               placeholder="Riddle name">
    </div>
    <div class="form-group">
        <label>Description:</label></br>
        <textarea class="form-control" type="text" ng-model="model.currentQuest.description"
                  placeholder="Riddle question">
            </textarea>
    </div>
    <div class="form-group">
        <label>Answer:</label></br>
        <input class="form-control" type="text" ng-model="model.currentQuest.answer"
               placeholder="Riddle answer">
    </div>
    <div class="form-group">
        <label>Hint:</label></br>
        <input class="form-control" type="text" ng-model="model.currentQuest.hint"
               placeholder="Riddle hint">
    </div>

    <label>Choose reward for completion:</label></br>
    <label class="switch">
        <input type="checkbox" data-toggle="collapse" href="#rewardForm">
        <span class="slider round"></span>
    </label>
    <div class="collapse" id="rewardForm">
        <div ng-include="'quests/reward/rewardForm.html'"></div>
    </div>


    </br>

    <button type="button" class="btn" ng-click="saveNewQuest(model.chosenQuestType.questType)"
            ng-show="new" ng-disabled="newQuestForm.$invalid">Save
    </button>
    </form>
</div>


