<div class="col-md-3 float-left col-1 pl-0 pr-0 collapse width show" id="sidebar">
    <div class="list-group card">

        <button type="button" href="#gameSelectionMenu" class="collapsed btn btn-dark list-group-item"
                data-toggle="collapse" aria-expanded="false">
            <i class="fa fa-globe"></i> <span class="">Game selection</span>
        </button>

        <div class="collapse" id="gameSelectionMenu" data-parent="#sidebar">
            <div ng-show="authenticated" class="ng-hide">
                <form>

                    <label class="list-group-item">Select game:</label>
                    <select class="form-control "
                            ng-options="game.name for game in model.allGames"
                            ng-model="model.currentGame"></select>

                    <label class="list-group-item">Description:</label>
                    <textarea class="form-control " type="text" ng-model="model.currentGame.description"
                              placeholder="Game description" disabled>
                    </textarea>
                    <button class="btn btn-outline-light form-control" role="button" id="toggle-game-modal"
                            data-toggle="modal"
                            data-target="#game-modal" title="NewGame" aria-label="NewGame">
                        <i class="fa fa-eye" aria-hidden="true"></i>Game manager
                    </button>
                </form>
            </div>
            <div ng-show="authenticated != true">
                <p class="">Please Log in</p>
            </div>
        </div>
    </div>
</div>