<label class="questmodal-item" for="questsFormEdit">Use existing quest as template:</label>
<select class="form-control text-white bg-secondary" id="questsFormEdit"
        ng-options="quest.name for quest in model.allQuestsByChosenType"
        ng-model="model.currentQuest"></select>