<label class="questmodal-item" for="questTypesForm">Choose a type of quest:</label>
<select class="form-control text-white bg-secondary" id="questTypesForm"
        ng-options="quest.name for quest in model.allQuestTypes"
        ng-model="model.chosenQuestType"></select>
